html, body {
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    border: 1px solid #4a4630;
    background-color: #fbf3c6;
}

ul li {
    padding: 8px 16px;
    border-bottom: 1px solid #4a4630;
}

ul li:last-child {
    border-bottom: none
}

.title{
    font-size: 25pt;
}

.component{
    margin-top: 50px;
    margin-bottom: 50px;
}

.border{
    border-style: solid;
    border-color: black;
    background-color: bisque;
}

input[type=text]{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=text]:focus {
    background-color: #fbf3c6;
}

button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

h3{
    color: #cc5454;
}

@media screen and (max-width: 800px) {
    html {   
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    html {   
        width: 100%;
        padding: 0;
    }
}