html, body {
    margin: 5px;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.title{
    font-size: 25pt;
    text-align: center;
}

.component{
    margin-top: 50px;
    margin-bottom: 50px;
}


